/**
 * Особо внешний вид страницы "причесывать" не будем
 * Просто оформим поля нашей формы
 */
/* Для контейнера, который содержит поля формы */
div.row {
	margin-bottom:15px;	/* Нижний отступ */
}
/* Заголовки полей форм будут на отдельной строке */
label {
	display:block;
	font-weight:bold;	/* Сделаем их жирными */
	margin-bottom:5px;	/* Нижний отступ от заголовка */
}

/* Наши раскрывающиеся списки тоже "причешем" */
select {
	width:300px;		/* Ширина */
	padding:3px 5px;	/* Величина внутренних отступов: сверху/снизу, справа/слева */
}